# Backend
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-multipart
python-dotenv

# Security 
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# AI & RAG 
google-generativeai
chromadb
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph

# Frontend 
streamlit

# HTTP client
httpx
